$c-blue-marine: hsl(213, 96%, 18%);
$c-blue-ocean: hsl(213, 72%, 31%);
$c-blue-purplish: hsl(243, 100%, 62%);
$c-blue-pastel: hsl(228, 100%, 84%);
$c-blue-light: hsl(206, 94%, 87%);
$c-red-strawberry: hsl(354, 84%, 57%);
$c-gray-cool: hsl(231, 11%, 63%);
$c-gray-light: hsl(229, 24%, 87%);
$c-gray-vlight: hsl(231, 100%, 99%);
$c-magnolia: hsl(217, 100%, 97%);
$c-alabaster: hsl(231, 100%, 99%);
$c-white: hsl(0, 0%, 100%);
$c-green: hsl(113, 56%, 65%);
